<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-esquerda">
        <div id="titulo-cadastro">
            <h1><strong>CADASTRE-SE</strong></h1>
        </div>
        <div id="img-logo">
            <img src="../public/imagem/image 13.png" alt="Logo">
        </div>
    </div>

    <div class="container-direita">
        <div id="titulo-login">
            <h2><strong>ACESSE SUA CONTA</strong></h2>
        </div>
        <form id="register-form">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>

            <label for="cpf_cnpj">CPF/CNPJ</label>
            <input type="text" id="cpf_cnpj" name="cpf_cnpj" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
            <span id="password-length-message" style="color: red;"></span>

            <label for="confirmar_password">Confirmar Senha</label>
            <input type="password" id="confirmar_password" name="confirmar_password" required>
            <span id="password-message" style="color: red;"></span>

            <button type="submit" id="cadastre-se">CADASTRAR-SE</button>
        </form>
        <div>  
            <button type="button" id="voltarLogin" onclick="window.location.href = '../views/login.html'">VOLTAR AO LOGIN</button>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
    <script src="../service/script.js"></script>
    <script src="../service/serviceauth.js"></script>
</body>
</html>
