body{
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
#containercima{
    height: 65%;
    background-color: #ffffff;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

#img-logo{
    padding-top: 15px;
    display: block;
    margin: 0 auto;
}
#titulo-cabecario{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#subtitulo-cabecario{
    font-size: 10px;
    font-family: 'Arial';
    margin-top: 2px;
}







form {
    width: 80%;
    max-width: 400px; 
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    
}









#containerbaixo{
    background-color: #68D8B0;
    height: 268px;
    align-items: center;
    padding: 10px;
    display: flex;
}
button#RedefinirSenha {
    width: 316px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #010101;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 9999; 
}
button#VoltarLogin{
    color: #000;
    background: #68D8B0;
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}